
:root {
  // colors
  --background-gray: #b3c9d7;
  --background-yellow: #f2cb58;
  --background-purple: #BFBCE3; 
  --bright-yellow: #f9df2b;
  --font-black: #000;
  --max-width: 900px;
  --gray: rgba(0, 0, 0, 0.64);
  --gray-hex: #2A2B37;
  --orange: #FF9154;

  // element colors
  --background-color: var(--background-gray);
  --font-color: var(--font-black);
  --light-font-color: var(--gray);
  --font-dark: var(--gray-hex);

  //header
  --header-link-color: var(--font-color);
  --header-button-color: var(--bright-yellow);
  --header-button-text-color: var(var(--font-black));

  //variables
  --body-padding: 26px;

  //landing
  --fig-background: white;
  --fig-stroke: black;
  --submit-btn-background: var(--font-black);
  --submit-btn-color: white;

  //sizes 
  --mobile-padding: 20px;
  --resize-starts: calc(var(--max-width) + var(--mobile-padding));

  // prompts
  --min-prompt-box-width: 290px;
  --prompt-tag-color: var(--orange);
  --prompt-box-border: #000;
  --prompt-box-background: white;
  --prompt-box-shadow: 0px 4px 0px 0px black;
  --prompt-shadow-transition: cubic-bezier(0.89, -0.04, 0.52, 1.19);


  --prompt-card-background: var(--background-yellow);
  --prompt-card-border: black;
  --prompt-card-shadow: 0px 4px 0px 0px #000;
  --prompt-card-date-bg: #fff0c9;
  --tag-color: var(--orange);
  --tag-font-color: white;
  --tag-border-color: #171717;
  
  //tag colros
  
  --tag-orange: #FF9154;
  --tag-green: #92BF77;
  --tag-blue: #00B2FF;
  --tag-purple: #CD97E9;
  --tag-pink: #FF70D7;
}


body {
  cursor: url("/cursor.svg"), auto;
  background: black;
  padding: var(--body-padding);

  *:hover {
    cursor: url("/cursor.svg"), auto;
  }
  &:active *:hover {
    cursor: url("/cursor.svg"), auto;
  }
  
  @media screen and (max-width: 984px){
    padding: 16px;
  };
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--body-padding) * 2);
  background: var(--background-color);
  font-family: var(--syne-font);
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  &.faq{
    transition: background 1s ease ;
    background: var(--background-yellow);
  }
  &.prompts{
    transition: background 1s ease;
    background: var(--background-purple);
    @media screen and (max-width: 993px){
      padding: 0 20px;
      h1{
        padding: 50px 0
      }
    };
  }
  
  @media screen and (max-width: 984px){
    padding: 0 20px;
    border-radius: 24px;
  };

};

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.svg-wrapper {
  .shape1 {
    top: 45%;
    left: 82%;
    svg {
      transform: rotate(30deg);
    }
  }
  .shape2 {
    top: 9%;
    left: 80%;
  };
  .shape3{
    top: 70%;
    left: 70%;
  }
  .shape4{
    top: 70%;
    left: 16%;
  }
  .shape6 {
    top: 12%;
    left: 5%;
  }
  .shape5 {
    top: 44%;
    left: 12%;
  }
  .shape7 {
    top: 37%;
    left: 0;
    transform: translateX(-50%);
  }
  
}

@keyframes fadeInUp {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
